registry=https://buildinsight-596422578225.d.codeartifact.eu-north-1.amazonaws.com/npm/buildinsight-prod/
//buildinsight-596422578225.d.codeartifact.eu-north-1.amazonaws.com/npm/buildinsight-prod/:always-auth=true
//buildinsight-596422578225.d.codeartifact.eu-north-1.amazonaws.com/npm/buildinsight-prod/:_authToken=${CODEARTIFACT_AUTH_TOKEN}